{% if pagination.pages > 0 %}
    {% if pagination.previous %}
        <a href="{{ pagination.previous.url }}">{{ pagination.previous.title }}</a>
    {% endif %}
    {% if pagination.next %}
        <a href="{{ pagination.next.url }}">{{ pagination.next.title }}</a>
    {% endif %}
{% endif %}