{% if section.blocks != blank %}
<div>
    {% for slider in section.blocks %}
        {% assign image = slider.settings.image %}
        {% assign slider_text = slider.settings.slider_text %}
        {% assign shop_now_link = slider.settings.shop_now_link %}
        <div>
            {% if image != blank %}
                <figure>{{ image | img_url: 'master' | img_tag }}</figure>
            {% endif %}

            {% if slider_text != blank %}
                <div>
                    {{ slider_text }}
                </div>
            {% endif %}

            {% if shop_now_link != blank %}
                <a href="{{ shop_now_link.url }}">Shop Now</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}
{% schema %}
{
    "max_blocks": 3,
    "blocks":[
        {
            "name": "Slider",
            "type": "slides",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "richtext",
                    "id": "slider_text",
                    "label": "Slider Text"
                },
                {
                    "type": "url",
                    "id": "shop_now_link",
                    "label": "Button Link"
                }
            ]
        }
    ]
}
{% endschema %}