{% paginate collection.products by 1 %}
    {% for product in collection.products %}
        {% render 'product', product:product %}
        {% else %}
        <div>
            <p> No Product found </p>
        </div>
    {% endfor %}
    {% render 'pagination', pagination: paginate %}
{% endpaginate %}